<!--
  Generated template for the CstlPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{pageTitle}} Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
      <ion-grid>
        <ion-row>
          <ion-col col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4 offset-xl-4 col-xl-4>
            <ng-container *ngFor="let pendingMatch of pendingMatchesRef$ | async">
              <ion-card *ngIf="pendingMatch.status != 'completed'" class="" text-center (click)="openLiveMatch(pendingMatch)">
                <img src="https://image.ibb.co/byb1XQ/276507_sepak_takraw700_2.gif"/>
                <div class="card-title">
                  {{getAbbr(pendingMatch.team1Name)}} vs {{getAbbr(pendingMatch.team2Name)}}
                </div>
                <div margin-top class="card-subtitle">
                  <span margin-top class="text-white"><b>{{pendingMatch.matchType}} Event {{pendingMatch.reguNumber == null ? '' : ', Regu-' + pendingMatch.reguNumber}}, {{pendingMatch.pool}}</b></span>
                </div>
                
              </ion-card>
            </ng-container>
    
            <a><ion-card (click)="routeToPage('MatchPage')">
              <img src="https://image.ibb.co/dHjw1w/sepak.jpg"/>
              <div class="card-title">Matches & Results</div>
            </ion-card></a>
    
            <a><ion-card (click)="routeToPage('NewsPage')">
              <img src="https://image.ibb.co/jO5QuG/srikanth.jpg"/>
              <div class="card-title">News & Videos</div>
            </ion-card></a>

            <a><ion-card (click)="routeToPage('GalleryPage')">
                <img src="https://image.ibb.co/fJPARk/img3.jpg"/>
                <div class="card-title">Photo Gallery</div>
              </ion-card></a>
    
            <a><ion-card (click)="routeToPage('TeamlistPage')">
              <img src="https://image.ibb.co/fB53gw/sakthi.jpg"/>
              <div class="card-title">Teams and Players</div>
            </ion-card></a>
    
            <ion-card *ngIf="adminUser" (click)="startNewMatch()">
              <img src="https://image.ibb.co/fJPARk/img3.jpg"/>
              <div class="card-title">Score a Match</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    
    </ion-content>
