page-player-profile {

	.photo-container {
		position: relative;	

		img.photo-backdrop {
			filter: brightness(30%);
		}
	}

	ion-card ion-fab img {
		margin-left: -30px;
		z-index: 100;
		border-radius: 100px;
		border: 3px solid #FFF;
		margin-right: 45px;
		margin-top: -30px;
	}

}
