<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Your Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="gray-bg">

	<div text-center padding class="white-bg">
		<img class="circle-pic" width=84 src="{{profile.appPicUrl ? profile.appPicUrl : profile.photoURL}}">
		<div clear text-center>
			<button small outline ion-button icon-only (click)="takePhoto('Cam')">
					<ion-icon name="camera"></ion-icon>
			</button>
			<button small outline ion-button icon-only (click)="takePhoto('Lib')">
					<ion-icon name="folder"></ion-icon>
			</button>
		</div>
	</div>

	<div>
		<ion-item>
			<ion-label stacked>Name</ion-label>
			<ion-input required [(ngModel)]="profile.name"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>District</ion-label>
			<ion-select required [(ngModel)]="profile.city">
					<ion-option *ngFor="let city of cities" value="{{city}}">{{city}}</ion-option>
				</ion-select>
		</ion-item>

		<ion-item>
			<ion-label stacked>About Me</ion-label>
			<ion-textarea required type="text" [(ngModel)]="profile.aboutMe"></ion-textarea>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>I am here as a</ion-label>
			<ion-select required [(ngModel)]="profile.role">
					<ion-option value="Player">Player</ion-option>
					<ion-option value="Formerplayer">Former Player</ion-option>
					<ion-option value="Referee">Referee</ion-option>
					<ion-option value="Guest">Guest User</ion-option>
					<ion-option value="Wellwisher">Well Wisher</ion-option>
					<ion-option value="Fan">Fan</ion-option>
				</ion-select>
		</ion-item>
	</div>

	<!-- <ion-item *ngIf="1 == 2 && profile.role == 'Player'">
		<ion-label stacked>Team</ion-label>
		<ion-select required [(ngModel)]="profile.teamKey">
	      <ion-option *ngFor="let team of TeamRef$ | async" value="{{team.$key}}">{{team.name}}</ion-option>
	    </ion-select>
	</ion-item>

	<ion-item *ngIf="1 == 2 && profile.role == 'Player'">
		<ion-label stacked>Play Position</ion-label>
		<ion-select required [(ngModel)]="profile.position">
	      <ion-option value="Striker">Striker</ion-option>
	      <ion-option value="Tekong">Tekong</ion-option>
	      <ion-option value="Feeder">Feeder</ion-option>
	    </ion-select>
	</ion-item> -->

	<div col-12 clear padding-vertical>
		<div float-right>
			<button ion-button (click)="createProfile(profile)">Save Profile</button>
		</div>
	</div>
	
	<ion-grid>
	    <ion-row>
	      <ion-col col-12>
			
				By clicking on Save Profile, you are agreeing to the <a (click)="openPrivacy()">privacy policy</a> of this site.
			
		  </ion-col>
	  	</ion-row>
  	</ion-grid>
	

</ion-content>
