<!--
  Generated template for the MatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Matches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="gray-bg">
	<ion-list>
			<ng-container  *ngFor="let match of (matchesRef$ | async)?.slice().reverse()">
					
					<div margin-horizontal margin-top padding text-center class="dark-bg text-white"  *ngIf="match.reguNumber == 1 || match.reguNumber == null">
							<h6 no-margin><b> {{match.team1Name || "Team 1"}} vs {{match.team2Name || "Team 2"}}</b></h6>
					</div>
					
					<ion-card text-center>
							<ion-card-header>
								<ion-badge text-capitalize color="{{(match.status == 'Live') ? 'danger' : 'primary'}}">{{match.status}}</ion-badge>
								<h2 margin-top><b>{{match.matchType}} Event {{match.reguNumber == null ? '' : ', Regu-' + match.reguNumber}} </b></h2>
								<b><p> {{match.pool}} </p></b>
					
								<p *ngIf="match.wonBy" ion-text color="secondary">Won by <b>{{match.wonBy}}, {{match.setCount}}</b> </p>
								<button margin-top ion-button small color="secondary" (click)="routeToScorematchPage(match, 'ScorematchPage')" icon-start ion-button><ion-icon name="flag"></ion-icon>View Details</button>
					
							</ion-card-header>
						</ion-card>
			</ng-container>
	</ion-list>
</ion-content>
