// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.card-background-page .card-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    font-weight: 700;
    color: #fff;
}

.card-background-page ion-card {
    position: relative;
    text-align: center;
}

.card-background-page .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}

.card-background-page img {
	filter: brightness(40%);
}

.gray-bg {
    background: #EEE;
}

.white-bg {
    background: #FFF;
}

.dark-bg {
    background: #222;
}

.font-500 {
    font-weight: bold;
}

.hide {
    display: none;
}

.circle-pic{
    -webkit-border-radius: 50%;
    border-radius: 50%;    
}

.xlimg{
    width:96px;
    height:96px;
}
.bigimg{
    width:42px;
    height:42px;
}

.smallimg {
    width:28px;
    height:28px;
}

.inlineblock {
    display: inline-block;
}
