page-scorematch {
		img.team_image {
			border: 3px solid #9F9F9F;
			width:90px;
			height:90px;
		}

		 img.vs_logo {
			border: 3px solid #FFF;
			border-radius: 100px;
			width: 30px;
			height: 30px;
			margin-top: 15px;
		}
}
